extends layout

block content
  h1= title
  p Click below to join our mailing list
  button(type="button", onclick="window.open('/newuser');") Join!
  
  p <a href="http://validator.w3.org/check?uri=referer">
  <img alt="Valid HTML 5" height="31" src="../images/validhtml5.gif" style="border: 0px;" width="88">
  </a><a href="http://jigsaw.w3.org/css-validator/check/referer">
  <img alt="Valid CSS" height="31" src="../images/validcss.gif" style="border: 0px;" width="88"></a>
  &copy; 2016 Corelight Solutions LLC. All Rights Reserved.

 
