extends layout

block content
  h1= title
  <div id="container">
    p "Where Creation Meets Innovation"
    h2 Click below to join our mailing list
      <br/>
      button(type="button", onclick="window.open('/newuser');") Join!
  </div>
  
  p &copy; 2016 Corelight Solutions LLC. All Rights Reserved.
