doctype html

extends layout
head
link(href='../public/stylesheets/style.css', rel='stylesheet')
block content 	
		h1 Join the Corelight Solutions Mailing List
		form#formAddUser(name="adduser", method="post", action="/adduser")
			input#inputUserName(type="text", placeholder="username", name="username")
			input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
			button#btnSubmit(type="submit") submit

		h1.
		    User List
		ul
			each user, i in userlist
