body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background: url("corelightlogo2.png") no-repeat;
  background-position: center 20px;

}

a {
  color: #00B7FF;
}

#inputUserName, #inputUserEmail {
	margin-right: 10px;
	text-align: center;
}


h1 {
	margin-top: 160px;
}